ListView {
    margin: 5;
}

Label {
    padding: 5;
    vertical-align: middle;
}

.title {
    width: 98%;
    background-color: blue;
    color: yellow;
    text-align: center;
}

.name {
    width: 65%;
    text-align: left;
    background-color: navajowhite;
}

.tel {
    width: 35%;
    text-align: right;
    background-color: lightsteelblue;
}

.labsector1 {
    background-color: cornflowerblue;
    width: 50%;
    font-size: 12;
    color: black;
}

.labsector2 {
    background-color: darkslateblue;
    width: 98%;
    font-size: 12;
    text-align: center;
    color: yellowgreen;
}

TextField {
    /*color: green;
    background-color: snow;*/
    font-size: 12;
}

.txtsector1 {
    width: 50%;
    text-align: left;
    color: black;
}

.stdname {
    width: 50%;
}

.stdname {
    width: 50%;
}

StackLayout {
    width: 98%;
}

.sector1 {
    width: 98%;
    background-color: paleturquoise;
}

.sector2 {
    width: 98%;
    background-color: yellow;
}

button {
    font-size: 12;
    width: 98%
}

ListView {
    width: 98%;
    font-size: 12;
}